body {
    color: #40514e;
    background-color: #e4f9f5;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
}

p {
    line-height: 2;
}

hr {
    border: dotted #40514e 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

h1 {
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.63rem;
    line-height: 1;
    color: #66BFBF;
    margin: 50px auto 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    border: 20px;

}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    position: relative;
    padding: 10px;
}


.profile-pic {
    border-radius: 50%;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.work-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.computer-img {
    width: 5rem;
    float: left;
    margin-right: 30px;
}

.panda-img {
    align-self: auto;
    position: relative;
    width: 10%;
}

.wakling-img {
    width: 5rem;
    float: right;
    margin-left: 30px;
}

.essox-img {
    height: 7rem;
    float: right;
    margin-left: 30px;
}

.eon-img {
    
    height: 8rem;
    float: right;
    margin-left: 30px;
}

.gopay-img {
    height: 3rem;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;

    background-image: -moz-linear-gradient(top, #11cdd4);
    background-image: -ms-linear-gradient(top, #11cdd4);
    background-image: -o-linear-gradient(top, #11cdd4);
    background-image: linear-gradient(to bottom, #11cdd4);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0 0;
}